%%-*- mode: erlang -*-
{sub_dirs, ["apps/flake"]}.
{erl_opts, [debug_info]}.
{cover_enabled, false}.
{deps,
 [
     {appstart, ".*", {git, "git@github.com:leonlee/appstart.git", {branch, "master"}}},
     {cfgsrv, ".*", {git, "https://xorimagine.visualstudio.com/DefaultCollection/GameWatcher/_git/cfgsrv", {branch, "master"}}},
     {xor_common, ".*", {git, "https://xorimagine.visualstudio.com/DefaultCollection/GameWatcher/_git/xor_common", {branch, "master"}}}
 ]
}.
