%%-*- mode: erlang -*-
{sub_dirs, ["apps/flake"]}.
{erl_opts, [debug_info]}.
{cover_enabled, false}.
{deps,
 [
     {appstart, ".*", {git, "git@github.com:leonlee/appstart.git", "master"}},
     {cfgsrv, ".*", {git, "../../cfgsrv", "master"}},
     {xor_common, ".*", {git, "../../../libs/xor_common", "master"}}
 ]
}.
