%%-*- mode: erlang -*-
{sub_dirs, ["apps/flake"]}.
{erl_opts, [debug_info]}.
{cover_enabled, false}.
{deps,
 [
     {appstart, ".*", {git, "git@github.com:leonlee/appstart.git", {branch, "master"}}},
     {cfgsrv, ".*", {git, "http://lgq:000000@192.168.1.108:8686/scm/git/cfgsrv", {branch, "master"}}},
     {xor_common, ".*", {git, "http://lgq:000000@192.168.1.108:8686/scm/git/xor_common", {branch, "master"}}}
 ]
}.
